API_URL=http://simulator:8006
API_USER=root@pam
API_PASSWORD=secret
API_TOKEN=root@pam!automation=automation-secret
API_AUDITOR_USER=auditor@pve
API_AUDITOR_PASSWORD=auditor-secret
API_AUDITOR_TOKEN=auditor@pve!readonly=readonly-secret
PVE_NODE=pve01
PVE_STORAGE=local-lvm
PVE_BRIDGE=vmbr0
API_TIMEOUT=120
API_POLL_INTERVAL=0.2
TEST_RESOURCE_PREFIX=hx
SEED_PROFILE=small
